# Prerequisites
*.d

build/
data/
data/perry-anderson.freeformjs.imploded.zip  
data/perry-anderson.webflow.imploded.zip   
data/perry-anderson.webflow.upgrades.zip  
data/src.imploded.zip   
data/src.upgrades.zip
data/perry-anderson.freeformjs.zip           
data/perry-anderson.webflow.implosion.zip  
data/perry-anderson.webflow.zip           
data/src.implosion.zip  
data/src.zip

#data/homesite/perry-anderson.webflow.implosion.zip
#data/homesite/src.implosion.zip
#data/homesite/src.upgrades.zip

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
